.commentForm {
  width: 100%;
  font-size: 32px;
  display: table;
}

.commentForm div:first-child {
  display: table-cell;
  vertical-align: middle;
  padding-right: 10px;
  padding-bottom: 10px;
}

.commentForm input[type="text"] {
  height: 60px;
  font-size: 32px;
}

.addButton {
  font-size: 32px;
  padding-right: 10px;
}
