div.ShoppingList {
  width: 100%;
}

div.ShoppingList div {
  cursor: pointer;
}

div.ShoppingList div:hover {
  background-color: grey;
}

div.ShoppingList div.checked {
  color: green;
}

ul.ShoppingList.remaining li.checked {
  display: none;
}

ul.ShoppingList.completed li.unchecked {
  display: none;
}

a {
  padding-right: 5px;
}

li.ShoppingListRow {
  min-height: 40px;
}

div.ShoppingListRowItem {
  cursor: pointer;
}

li.ShoppingListRow button {
  margin-top: -2px;
  float: right;
}

button:focus {
  outline: none !important;
}
