div.ShoppingList {
  width: 100%;
}

div.ShoppingList div {
  cursor: pointer;
}

div.ShoppingList div:hover {
  background-color: grey;
}

div.ShoppingList div.checked {
  color: green;
}

div.ShoppingList.remaining div.checked {
  display: none;
}

div.ShoppingList.completed div.unchecked {
  display: none;
}

a {
  padding-right: 5px;
}
