div.ShoppingList {
  width: 100%;
}

div.ShoppingList div {
  cursor: pointer;
}

div.ShoppingList div:hover {
  background-color: grey;
}

div.ShoppingList div.checked {
  color: green;
}

ul.ShoppingList.remaining li.checked {
  display: none;
}

ul.ShoppingList.completed li.unchecked {
  display: none;
}

a {
  padding-right: 5px;
}

li.ShoppingListRow {
  width: 100%;
  font-size: 32px;
  display: table;
  margin-bottom: 10px;
}

div.ShoppingListRowItem {
  cursor: pointer;
  display: table-cell;
}

li.ShoppingListRow div.ShoppingListRowButton {
  display: table-cell;
  vertical-align: middle;
  text-align: right;
}

li.ShoppingListRow button {
  font-size: 24px;
}

button:focus {
  outline: none !important;
}
